/* colors */
$baseColor: #29c5e6;
$baseColorBorder: #299db5;
$whiteTextColor: #f4f4f4;
$greyColor: #bbbbbb;
$errorColor: #f31281;
$infoColor: #4c59f3;
$blackColor: #000;
$hoverColor: #ff803f;

/* fonts */
$baseFont: Proxima Nova,Proxima-Nova,proxima-nova,Helvetica,Arial,sans-serif;